<div id="bigauth-login">
  <% if flash[:error] -%>
    <div class="error">
      <p>
        <%= flash[:error] %>
      </p>
    </div>
  <% end -%>
  <div class="information">
    <h1>Login/Signup</h1>
    Login or signup with your Twitter or Facebook account
  </div>
  <%= big_twitter_login_button %>
  <%= big_facebook_login_button %>
</div>
