<html>
  <head>
    <title>BigAuth Admin</title>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
    <%= javascript_include_tag "big_lib_rails" %>
    <%= javascript_include_tag "big_lib" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
